<?xml version="1.0" encoding="UTF-8"?>
<nbm>    
    <moduleType>lazy</moduleType>
    <codeNameBase>org.netbeans.modules.plantumlnb/1</codeNameBase>
    <licenseName> Apache License, Version 2.0</licenseName>
    <licenseFile>license.txt</licenseFile>
    <requiresRestart>true</requiresRestart>
    <author>Venkat Ram Akkineni</author>    
</nbm>
